 @import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.goog-te-banner-frame, 
.goog-te-menu-frame, 
#goog-gt-tt, 
.goog-tooltip, 
.goog-tooltip:hover, 
.skiptranslate {
  display: none !important;
  visibility: hidden !important;
  height: 0px !important;
}


body {
  top: 0px !important;
} 

 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.goog-te-banner-frame, 
.goog-te-menu-frame, 
#goog-gt-tt, 
.goog-tooltip, 
.goog-tooltip:hover, 
.skiptranslate {
  display: none !important;
  visibility: hidden !important;
  height: 0px !important;
}


body {
  top: 0px !important;
} 

 